@model IEnumerable<FscCore.Core.Domain.olex_ExamResult>
@{Layout = null;
  int countRec = 1;
      
  }
<html data-ng-app="apps">

<body>
    <style>
        .odd {
            background-color: ##d6f6e8;
        }

        .even {
            background-color: #91f7cb;
            border-radius: 3px 4px;
        }
    </style>
    <center style="font-family:Verdana, Geneva, Tahoma, sans-serif"><h2>POGI Examination</h2></center> 
    <table style="font-family:Verdana, Geneva, Tahoma, sans-serif">
        <tr>
            <td>Examinee:</td>
            <td>@Model.First().FullName</td>
        </tr>
        <tr>
            <td>Date Taken:</td>
            <td>@DateTime.Parse(Model.First().examstart.ToString()).ToString("MMMM dd, yyyy")</td>
        </tr>
        <tr>
            <td>Time Start:</td>
            <td>@DateTime.Parse(Model.First().examstart.ToString()).ToString("hh:mm.ss")</td>
        </tr>
        <tr>
            <td>Time Finish:</td>
            <td>@DateTime.Parse(Model.First().examfinish.ToString()).ToString("hh:mm.ss")</td>

        </tr>
        <tr>
            <td>Score   :</td>
            <td>@Model.Where(wr=> wr.Correct==1).Count() / @Model.Where(wr => wr.Wrong == 1).Count() </td>

        </tr>
    </table>
    <hr />
    <ol style="list-style:none;">
        @foreach (var row in Model)
 {
            <li style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:12px;" >
                <span style="@Html.Raw(row.Correct.ToString() == "1" ? "color:green;" : "color:red;")" >@Html.Raw(row.Correct.ToString()=="1"? "&#10004;":"&#10006;") </span>&nbsp; @countRec @Html.Raw(". "+ row.question)
              
                <strong>Ans:&nbsp;@Html.Raw(row.answer +". " + row.answerdetail)  </strong>
            </li>
            
            countRec +=1;
 }

    </ol>


</body>
</html>
