@model  IEnumerable<FscCore.Core.Domain.mifs_response>
    @{
        Layout = null;
    }

    <html>


   
    <body>
      


        <div style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:1em;font-kerning:normal; font-size:small;">
            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
                Dear @ViewBag.topic Member,
            </p>


            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
                &nbsp;&nbsp;&nbsp;
                This is to inform you that @ViewBag.response has responded the issue on "@ViewBag.issuedetails".
            </p>
            <table>
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Source:</td>
                    <td style="font-family: Verdana, sans-serif; font-size:11px;  ">@ViewBag.topic</td>
                </tr>
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Issue Id:</td>
                    <td style="font-family: Verdana, sans-serif; font-size:11px;  ">@ViewBag.issueId</td>
                </tr>
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Details:</td>
                    <td style="font-family: Verdana, sans-serif; font-size:11px;">@ViewBag.issuedetails</td>
                </tr>
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Action Plan:</td>
                    <td style="font-family: Verdana, sans-serif; font-size:11px;">@ViewBag.actionplan</td>
                </tr>
                <tr>
                    <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Issue Date:</td>
                    <td style="font-family: Verdana, sans-serif; font-size:11px;">@ViewBag.issuedate</td>
                </tr>
              
            </table>


            @foreach (var item in Model)
            {

                <div style="overflow: auto; width:400px;">
                    <div style="float:left;">
                        @Html.Raw("<img style='height: 50px !important;width: 50px !important;display: inline - block;' src ='http://apps.fastlogistics.com.ph/201pic/64px/" + item.responsebyempid + ".jpg'/>")
                    </div>
                    <div style="margin-left: 60px; padding-left:3px;">
                        <p style="font-family: Verdana, sans-serif; font-size:11px;">@item.messagedetails</p>
                        <p style="font-family: Verdana, sans-serif; font-style:italic;  font-size:8px;">@item.responsedate</p>
                    </div>
                 
                </div>

                @*if (item.responsebyemail == ViewBag.raisedbyemail)
                {
                

                    <div class="post-container">
                        <div class="post-thumb">
                            @Html.Raw("<img style='height: 50px !important;width: 50px !important;display: inline - block;' src ='http://apps.fastlogistics.com.ph/201pic/64px/" + item.responsebyempid + ".jpg'/>")
                        </div>
                        <div class="post-content">
                            <p style="font-family: Verdana, sans-serif; font-size:11px;">@item.messagedetails</p>
                        </div>
                    </div>

                }
                else
                {
                    <div class="post-container">
                        <div class="post-content2">
                            <p style="font-family: Verdana, sans-serif; font-size:11px;">@item.messagedetails</p>
                        </div>
                        <div class="post-thumb2">
                            @Html.Raw("<img style='height: 50px !important;width: 50px !important;display: inline - block;' src ='http://apps.fastlogistics.com.ph/201pic/64px/" + item.responsebyempid + ".jpg'/>")
                        </div>
                    </div>
                }*@
            }



            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
                <!--Local-->
                Please click <a href="http://paloapp.fastlogistics.com.ph/Issues/IssueResponse/?hcde=@ViewBag.hashcode&umail=@ViewBag.email&uname=@ViewBag.name&uid=@ViewBag.empId&issueId=@ViewBag.issueId">here</a> for your action.
                <!--Live-->
                <!--Please click <a href="#">here</a> for your action.-->
            </p>
            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">This is a system generated message; Please Don't Reply</p>

        </div>

    </body>
</html>
