@model  IEnumerable<FscCore.Core.Domain.mifs_vIssues>
@{
    Layout = null;
}
<html>

<body>
    <div style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:1em;font-kerning:normal; font-size:small;">
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
            Dear All,
        </p>


        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">
            &nbsp;&nbsp;&nbsp;
           Please see below minutes of the meeting.
        </p>
        <table>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Meeting #:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;  ">@ViewBag.meetingId</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Topics:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;  ">@ViewBag.CurrentTopicDescription</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Agenda:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;  ">@ViewBag.agenda</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Venue:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">@ViewBag.venue</td>
            </tr>
            <tr>
                <td style="font-family: Verdana, sans-serif; font-size:11px; font-weight:bold;">Facilitator:</td>
                <td style="font-family: Verdana, sans-serif; font-size:11px;">@ViewBag.facilitator</td>
            </tr>
            
        </table>
       <p></p>
       
    </div>
    <table style="width:100%; border:1px thin black; border-collapse: collapse;">
        <tr>

            <th style="padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">
                #
            </th><th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Priority</th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Details</th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Action Plan</th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Date Issue</th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Completion Date</th>
            
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">
                Raised by
            </th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">Responsible</th>
            <th style=" padding: 4px 2px; color: #FFFFFF;background: #0a94ef;border: solid White;text-align: center;font-size: 0.9em;border: thin solid #C0C0C0;font-weight: bold;">
                FollowUpFrequency
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr style=" border:1px thin black;">
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@Html.DisplayFor(modelItem => item.issueId)</td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@Html.DisplayFor(modelItem => item.PriorityFlag)</td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@Html.DisplayFor(modelItem => item.Details)</td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@Html.DisplayFor(modelItem => item.actionplan)</td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@item.DateIssued.ToShortDateString()</td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black;font-size: 0.9em;">@item.targetcompletiondate.ToShortDateString()</td>
               
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black; font-size: 0.9em;">
                    @Html.DisplayFor(modelItem => item.raisedby)
                </td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black; font-size: 0.9em;">
                    @Html.DisplayFor(modelItem => item.responsible)
                </td>
                <td style="padding: 5px;border: thin solid #C0C0C0;color: black; font-size: 0.9em;">
                    @Html.DisplayFor(modelItem => item.FollowUpFrequency)
                </td>

            </tr>
        }

    </table>

    <h4>Notes:</h4>

    @Html.Raw(ViewBag.note)



     <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;">This is a system generated message; Please Don't Reply</p>

</body>
</html>

