@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pism-weekly-graph</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
  
</head>
<body>

     <div id="container" style="width:0 auto; height: 0 auto; margin: 0 auto"></div>


  <script>
   
      $(function () {
          $('#container').highcharts({
              chart: {
                  type: 'column'
              },
              title: {
                  text:  'Weekly Trend'
              },
              subtitle: {
                  text: 'Week From @ViewBag.wkfrom to @ViewBag.wkto'
              },
              xAxis: {
                  categories: @Html.Raw(ViewBag.weeklist)
                  },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'KPI Value'
                  }
              },
              tooltip: {
                  headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                  pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                      '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                  footerFormat: '</table>',
                  shared: true,
                  useHTML: true
              },
              plotOptions: {
                  column: {
                      pointPadding: 0.2,
                      borderWidth: 0
                  }
              },
              series: [{
                  name: 'Hit',
                  data: @ViewBag.kpiValueHit,
                  color:"#8bbc21"

              }, {
                  name: 'Miss',
                  data:  @ViewBag.kpiValueMessed,
                  color:"#910000"

              }, {
                  name: 'Target',
                  data:  @ViewBag.kpiTarget,
                  color:"#2f7ed8",
                  type : "line"

              }]
          });
      });

     // this.loadData();
  </script>

  

</body>
</html>
